<!-- START Main block -->
<section class="pt-4 pb-0 card-grid">
    <div class="container">
	    <div class="row g-4">
        <!-- START Main story-->
            <div class="col-lg-6">
                <div class="card card-overlay-bottom card-grid-lg card-bg-scale" style="background-image:url(static/blog/media/DSC_4053.JPG); background-position: center left; background-size: cover;">
                    <!-- Card featured -->
                    <span class="card-featured" title="Featured post"><i class="fas fa-star"></i></span>
                    <!-- Card Image overlay -->
                    <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
                        <div class="w-100 mt-auto">
                            <!-- Card category -->
                            <a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Lifestyle</a>
                            <!-- Card title -->
                            <h2 class="text-white h1"><a href="post-single-4.html" class="btn-link stretched-link text-reset">MAIN BLOG TITLE</a></h2>
                            <p class="text-white">MAIN BLOG HEADER</p>
                            <!-- Card info -->
                            by Christian | Nov 15, 2022 | 5 min read
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Main Story -->
            <div class="col-lg-6">
                <div class="row g-4">
                    <!-- START Most read -->
                    <div class="col-12">
                        <div class="card card-overlay-bottom card-grid-sm card-bg-scale" style="background-image:url(static/blog/media/IMG_1842.JPG); background-position: center left; background-size: cover;">
                            <!-- Card Image -->
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Technology</a>
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-4.html" class="btn-link stretched-link text-reset">MOST READ TITLE</a></h4>
                                    <!-- Card info -->
                                    by Christian | Aug 18, 2022
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Most read -->
                    <!-- START 2nd-3rd story-->
                    <div class="col-md-6">
                        <div class="card card-overlay-bottom card-grid-sm card-bg-scale" style="background-image:url(static/blog/media/IMG_2307.JPG); background-position: center left; background-size: cover;">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Business</a>
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-4.html" class="btn-link stretched-link text-reset">2nd POST TITLE</a></h4>
                                    <!-- Card info -->
                                    Jun 03, 2022
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-md-6">
                        <div class="card card-overlay-bottom card-grid-sm card-bg-scale" style="background-image:url(static/blog/media/DSC_4053.JPG); background-position: center left; background-size: cover;">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4"> 
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Sports</a>
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-4.html" class="btn-link stretched-link text-reset">3rd POST TITLE</a></h4>
                                    <!-- Card info -->
                                    Jan 28, 2022
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END  2nd-3rd story-->
                </div>
            </div>
        </div>    
    </div>
</section>
<!-- END Main Block -->
<!-- START Secondary block-->
<section class="position-relative">
    <div class="container" data-sticky-container>
        <!-- START More Blog -->
        <div class="row">
			<!-- Main Post START -->
			<div class="col-lg-9">
				<!-- Title -->
				<div class="mb-4">
					<h2 class="m-0"><i class="bi bi-hourglass-top me-2"></i>Latest post you might have missed</h2>
					<p>Latest breaking news, pictures, videos, and special reports</p>
				</div>
				<div class="row gy-4">
					<!-- Card item START -->
					<div class="col-sm-6">
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="static/blog/media/IMG_2307.JPG" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<!-- Card category -->
										<a href="#" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Technology</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h4 class="card-title mt-2"><a href="post-single.html" class="btn-link text-reset fw-bold">12 worst types of business accounts you follow on Twitter</a></h4>
								<p class="card-text">He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to</p>
								<!-- Card info -->
								Jan 22, 2022
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6">
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="static/blog/media/IMG_2307.JPG" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<!-- Card category -->
										<a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Travel</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h4 class="card-title"><a href="post-single.html" class="btn-link text-reset fw-bold">Dirty little secrets about the business industry</a></h4>
								<p class="card-text">Place voice no arises along to. Parlors waiting so against me no. Wishing calling is warrant settled was lucky. Express besides it present if at an opinion visitor.</p>
								<!-- Card info -->
								Mar 07, 2022
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6">
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="static/blog/media/IMG_2307.JPG" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<!-- Card category -->
										<a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Gadgets</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h4 class="card-title"><a href="post-single.html" class="btn-link text-reset fw-bold">Bad habits that people in the industry need to quit</a></h4>
								<p class="card-text">For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do. Particular way thoroughly unaffected</p>
								<!-- Card info -->
								Jun 17, 2022
							</div>
						</div>
					</div>
					<!-- Card item END -->
					<!-- Card item START -->
					<div class="col-sm-6">
						<div class="card">
							<!-- Card img -->
							<div class="position-relative">
								<img class="card-img" src="static/blog/media/IMG_2307.JPG" alt="Card image">
								<div class="card-img-overlay d-flex align-items-start flex-column p-3">
									<!-- Card overlay bottom -->
									<div class="w-100 mt-auto">
										<!-- Card category -->
										<a href="#" class="badge text-bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Sports</a>
									</div>
								</div>
							</div>
							<div class="card-body px-0 pt-3">
								<h4 class="card-title"><a href="post-single.html" class="btn-link text-reset fw-bold">Around the web: 20 fabulous infographics about business</a></h4>
								<p class="card-text">Projection favorable Mrs can be projecting own. Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but.</p>
								<!-- Card info -->
								Dec 29, 2022
							</div>
						</div>
					</div>
                    <!-- Load more START -->
					<div class="col-12 text-center mt-5">
						<button type="button" class="btn btn-primary-soft">Load more post <i class="bi bi-arrow-down-circle ms-2 align-middle"></i></button>
					</div>
					<!-- Load more END -->
					<!-- Card item END -->
                </div>
			</div>
        <!-- END More Blog-->
        <!-- START Social Media Bar-->
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="mb-4">
                    <h2 class="m-0"><i class="bi bi-hourglass-top me-2"></i>Our footprint</h2>
                    <p>Follow us on social media</p>
                </div>
                <div data-sticky data-margin-top="80" data-sticky-for="767">
                    <!-- Social widget START -->
                    <div class="row g-2">
                        <div class="col-4">
                            <a href="#" class="bg-facebook rounded text-center text-white-force p-3 d-block">
                                <i class="fab fa-twitter fs-5 mb-2"></i>
                                <h6 class="m-0">1.5K</h6>
                                <span class="small">Followers</span>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="bg-instagram-gradient rounded text-center text-white-force p-3 d-block">
                                <i class="fab fa-instagram fs-5 mb-2"></i>
                                <h6 class="m-0">1.8M</h6>
                                <span class="small">Followers</span>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="#" class="bg-youtube rounded text-center text-white-force p-3 d-block">
                                <i class="fab fa-youtube-square fs-5 mb-2"></i>
                                <h6 class="m-0">22K</h6>
                                <span class="small">Subs</span>
                            </a>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div data-sticky data-margin-top="200" data-sticky-for="1000">
                            <a class="twitter-timeline" data-height="400" href="https://twitter.com/ChrisJAlbrecht?ref_src=twsrc%5Etfw">Tweets by ChrisJAlbrecht</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Social Media Bar-->
    </div>
</section>
<!-- END Secondary block -->
